header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5rem;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}
.logo img {
  width: 45px;
  margin-right: 10px;
}
.contact-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #333;
}
.contact-info {
  align-items: center;
}
.contact-info img {
  width: 45px;
  margin-right: 10px;
}
.contact .value {
  font-weight: bold;
}

nav {
  background-color: #ffffff;
  padding: 10px 5rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
nav li {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
nav ul li:hover{
    color: #d32f2f;
}
nav ul li:active{
    color: #722222;
}

nav ul li:nth-child(8) {
  background-color: #d32f2f;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
}

nav ul li:nth-child(8):hover {
  background-color: #b71c1c;
}
